---
import "@/styles/globals.css";
import Footer from "@/ui/footer";
import { Support } from "@/ui/support";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={frontmatter.description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Open Graph Meta -->
        <meta property="og:title" content={"FinData: " + frontmatter.title} />
        <meta property="og:description" content={frontmatter.description} />
        <meta property="og:image" content="/og-image.jpg" />

        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <title>{"FinData: " + frontmatter.title}</title>
    </head>
    <body>
        <div class="w-full h-full p-5 flex justify-center">
            <div class="md:px-10 max-w-7xl w-full">
                <main class="w-full">
                    <div
                        class="flex items-center justify-between space-y-2 mb-4 md:mb-2 mb:mt-2"
                    >
                        <a
                            href="/"
                            class="text-white/50 hover:text-white transition-colors"
                        >
                            <h2 class="text-2xl font-bold tracking-tight">FinData</h2>
                        </a>
                        <Support client:load />
                    </div>
                    <article class="max-w-3xl mx-auto w-full py-7 article_content">
                        <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">{frontmatter.title}</h1>
                        <span class="text-sm text-muted-foreground">Fecha de Actualización: {frontmatter.update}</span>
                        <slot />
                    </article>
                </main>
                
                <Footer />
            </div>
        </div>
    </body>
</html>

<style is:global>
    .article_content p {
        margin-top: 1rem;
    }
    .article_content p:first-of-type {
        margin-top: 3rem;
    }

    .article_content h3 {
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1.5rem;
    }
</style>